@{
    ViewBag.Title = "Customer Profile";
    Layout = "_Layout";
}
@model exp_web.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Customer Details</h2>
 
<form asp-controller="Users" asp-action="ViewDetails" method="post">
    <strong>Username : </strong> <input asp-for="Username" value="@ViewBag.Username"/> <br />
    <strong>Birthday : </strong> <input asp-for="Birthday" value="@ViewBag.Birthday"/><br />
    <input id="Submit1" type="submit" value="Get Customer Details" />
</form>
 